.ht-dropdown {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    position: absolute;
    top: 100%;
    left: auto;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    width: 150px;
    padding: 10px;
    right: 0;
    z-index: 99;
    transition: all 0.3s ease-in;
}
li:hover .ht-dropdown{
    transform: scaleY(1);
}
.nice-select{
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.select-search-category{
    width: auto;
    line-height: 43px;
    height: 43px;
    margin: 0;
    border: 0;
    padding: 0 28px 0 25px;
    font-size: 13px;
    border-radius: 15px 0 0 15px;
    position: relative;
}
 .current::after {
    content: "";
    position: absolute;
    display: block;
    height: 22px;
    width: 1px;
    background: #e5e5e5;
    top: 10px;
    right: -10px;
    font-size: 13px;
}
ul .list{
    height: 440px;
    overflow-y: auto;
    overscroll-behavior-x: none;
}
.nice-select .list{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68,68,68,.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-21px);
    -ms-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    z-index: 9;
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 5px;
}
.nice-select .option.selected {
    font-weight: 700;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all .2s;
    transition: all .2s;
}
button.li-btn{
    border: none;
    background: #cda557;
    color: #ffffff;
    font-size: 18px;
    width: 45px;
    border-radius: 0 2px 2px 0;
    height: 45px;
    line-height: 45px;
    position: absolute;
    right: -1px;
    top: -1px;
    cursor: pointer;
    transition: all ease 0.3s;
}
#menu::before{
    content: "";
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: inherit;
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 13px;
    width: 2px;
    opacity: 0;
    visibility: hidden;
}
#menu::after{
    content: "";
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: inherit;
    position: absolute;
    top: 50%;
    right: -20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 13px;
    width: 2px;
    opacity: 0;
    visibility: hidden;
}
li:hover #menu::before{
    opacity: 1;
    visibility: visible;
    left: -10px;
    transition: all ease 0.5s;
}
li:hover #menu::after{
    opacity: 1;
    visibility: visible;
    right: -10px;
    transition: all ease 0.5s;
}
button.li-btn:hover {
    background: #333333;
    color: #ffffff;
}
li:hover .hm-megamenu{
    transform: scaleY(1);
    transition: all ease 0.5s;
}
.hm-megamenu{
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 30px;
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    position: absolute;
    width: calc(100% - 478px);
    left: 194px;
    right: auto;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 99;
}
.megamenu-title{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
}
.menu-item_img{
    background-image: url(./image/s.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -30px;
    width: 33.33%;
    position: relative;
}
.hm-sub_dropdown{
    top: 30px;
    left: 100%;
    opacity: 0;
    visibility: hidden;
}
li:hover .hm-dropdown{
    transform: scaleY(1);
}
.hm-dropdown li:hover .hm-sub_dropdown:last-child{
       
  
    top: 76px;
    opacity: 1;
   
}
.hm-dropdown li:hover .hm-sub_dropdown{
    
    transform: scaleY(1);
    top: 0;
    opacity: 1;
    visibility: visible;
}
.hm-dropdown {
    position: absolute;
    background: #ffffff;
    width: 230px;
    padding: 20px 0 24px;
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9;
    transition: all 0.3s ease-in;
}