.contact-main-page {
    padding: 80px 0 60px;
}
#google-map {
    height: 400px;
}
/* Add this to your CSS */
 .contact-page-side-content {
    background-color: #f4f4f4;
    padding: 30px 30px 19px;
    margin-top: 60px;
}
.order-lg-2 {
    order: 2!important;
}
 .contact-form-content {
    margin-top: 60px;
}
 .contact-page-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 20px;
}
 .contact-page-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 20px;
}
 .form-group label {
    display: block;
    font-size: 15px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: text;
}
 .form-group label .required {
    color: #ff0000;
}
 .form-group .hiraola-contact-form_btn {
    line-height: 12px;
    display: inline-block;
    padding: 16px 30px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    background-color: #595959;
    border: 1px solid #595959;
    color: #ffffff;
    text-transform: uppercase;
}
 .contact-page-message {
    margin-bottom: 0;
    padding-bottom: 25px;
    font-family: "Lato", sans-serif;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
 .single-contact-block h4 {
    margin-bottom: 0;
    padding-bottom: 25px;
    font-family: "Lato", sans-serif;
    color: #333333;
    line-height: 1;
    font-weight: 700;
    font-size: 24px;
}
.single-contact-block:last-child {
    border-bottom: none;
}
 .single-contact-block.last-child > h4 {
    padding-bottom: 20px;
}
.single-contact-block p {
    margin-bottom: 0;
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
 .single-contact-block {
    padding-bottom: 3px;
    margin-bottom: 27px;
    border-bottom: 1px solid #e5e5e5;
}
 .form-group .hiraola-contact-form_btn:hover {
    background-color: #cda557;
    color: #ffffff;
    border-color: #cda557;
}
 .form-group textarea {
    background-color: #ffffff;
    width: 100%;
    outline: none;
    border: 1px solid #e5e5e5;
    padding-left: 20px;
    line-height: 50px;
    height: 200px;
}
 .form-group input {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    outline: none;
    border: 1px solid #e5e5e5;
    padding-left: 20px;
}
 .contact-form-content .contact-form .form-group {
    margin-bottom: 20px;
}
  iframe {
    width: 100%;
    height: 53vh; /* Full height of the viewport */
    border: 0;
  }
  /* Hover effect for the button */
