.about-us-area {
    padding-top: 80px;
}
.about-us-area .overview-content > h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #333333;
    line-height: 1;
}
.about-us-area .overview-content > h2 span {
    color: #cda557;
}
.about-us-area .overview-content > h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #cda557;
    height: 2px;
    width: 170px;
}
.about-us-area .overview-content > h2:before {
    background-color: #f4f4f4;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.about-us-area .overview-content > .short_desc {
    margin-bottom: 0;
    padding-bottom: 25px;
    font-family: "Lato", sans-serif;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.about-us-area .overview-content .hiraola-about-us_btn-area .about-us_btn {
    background: #cda557;
    color: #ffffff;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 145px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.about-us-area .overview-content .hiraola-about-us_btn-area .about-us_btn:hover {
    background: #595959;
    color: #ffffff !important;
}
.team-area .team-member .team-content {
    padding-top: 25px;
}
.team-area .team-member .team-content h3 {
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    color: #333333;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}
 .hiraola-social_link > ul > li > a:hover {
    background-color: #cda557;
    color: #ffffff !important;
}
.hiraola-social_link > ul > li > a:hover i {
    color: #ffffff !important;
}
.team-area .team-member .team-content .hiraola-social_link > ul > li {
    padding-right: 5px;
}
.hiraola-social_link > ul > li {
    display: inline-block;
    padding-right: 10px;
}
.team-area .team-member .team-content .hiraola-social_link {
    padding-top: 20px;
}
.team-area .team-member .team-content p {
    margin-bottom: 0;
    padding-bottom: 15px;
    font-family: "Lato", sans-serif;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.team-area .team-member .team-thumb img {
    width: 100%;
    display: block;
    overflow: hidden;
}
.img-hover_effect {
    position: relative;
    display: block;
}
.img-hover_effect a {
    overflow: hidden;
    display: block;
}
.img-hover_effect a:before {
    background: #cda557;
}
.img-hover_effect a:before {
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 0.6;
}
.img-hover_effect a img {
    width: 100%;
    height: auto;
}
.img-full {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}
.img-hover_effect a:after {
    background: #cda557;
}

.img-hover_effect a:after {
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0.6;
}
.team-area {
    padding-top: 70px;
    padding-bottom: 80px;
}
.team-area .section_title-2 {
    margin-bottom: 30px;
}